{% if total_file_size_bites %}
<div class="row center-xs mb-1">
    <div class="col-xs">
        <form method="POST" action="{{ __SELF__.onDownloadAll() }}">
            <button type="submit" href="#" class="btn btn-primary">
                <i class="pr normal p-download"></i>
                <span class="download_all">Download all</span>
                <span class="publications">publications</span>
                <span class="download_size">
                        ({{ (total_file_size / 1024 / 1024 )|round(2)}} MB)
                    </span>
            </button>
        </form>
    </div>
</div>
{% endif %}

{% if __SELF__.hasLibrary() %}
<form method="GET" id="filterForm" action="">
    <div class="tabs" id="mylibraryForm">
        <a data-type="0">All documents</a>
        <a data-type="1">Deliverables</a>
        <a data-type="2">Relevant Publications</a>
        <a data-type="3">Prussia Publications</a>
    </div>
    <div id="libraryForm" class="ui form libraryForm">
        <div class="row">
            <div class="col-sm-2 col-xs">
                <div class="field">
                    <input type="hidden" name="type" id="typeInput" value="{{ currentType }}">
                    <select name="sort" id="sortSelect">
                        {% for code,option in sortOptions %}
                        <option value="{{code}}" {% if code == currentSort %}selected{% endif %}>
                            {{option}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    {% if __SELF__.property('has_search') %}
    <div id="searchLibrary" class="searchLibrary">
    <div class="input-group align-items-start">
        <input class="form-control search" name="search" type="text" autocomplete="on"
                placeholder="Search in documents" value="{{searchQuery}}">
        <button class="btn searchLibrary btn-link text-grey-search-btn" type="submit"></button>
    </div>
    </div>
    {% endif %}
</form>

<div class='library-items' id="partialLibraries">
    {% partial __SELF__ ~ '::libraries' %}
</div>
<div class="row container">
    {{ records.render|raw }}
</div>
{% else %}
<div class="no-records">{{ __SELF__.property('no_records_message') }}</div>
{% endif %}

<script>
    document.getElementById('sortSelect').addEventListener('change', function () {
        document.getElementById('filterForm').submit();
    });

    document.getElementById('mylibraryForm').addEventListener('click', function (e) {
        e.preventDefault();
        if (e.target.getAttribute('data-type')) {
            document.getElementById('typeInput').value = e.target.getAttribute('data-type');
            document.getElementById('filterForm').submit();
        }
    });
</script>
